<main class="main">
  <nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
    <a href="index.html" class="navbar-brand ml-lg-3">
        <h1 class="m-0 display-5"><span class="text-primary">Bihtiten</span>Meriem</h1>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-lg-3" [ngClass]="{ 'collapse': !isNavbarOpen }" class="collapse navbar-collapse" id="navbarCollapse" id="navbarCollapse">
        <div class="navbar-nav m-auto py-0">
            <a href="#home" class="nav-item nav-link active">Home</a>
            <a href="#about" class="nav-item nav-link">About</a>
            <a href="#qualification" class="nav-item nav-link">Quality</a>
            <a href="#skills" class="nav-item nav-link">Skills</a>
            <a href="#project" class="nav-item nav-link">Projects</a>

        </div>
    </div>

</nav>

  <app-header id="home"></app-header>
  <app-about id="about"></app-about>
  <app-qualification id="qualification"></app-qualification>
  <app-skill id="skills"></app-skill>
  <app-project id="project"></app-project>
  <app-footer ></app-footer>
  <a href="#home" class="btn btn-outline-dark px-0 back-to-top" ><i class="fa fa-angle-double-up"></i></a>

</main>>


<router-outlet></router-outlet>
