<div class="container-fluid py-5" id="qualification">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
          <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-6">
              <h3 class="mb-4">My Education</h3>
              <div class="border-left border-primary pt-2 pl-4 ml-2">
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Full Stack Web Development Diploma</h5>
                      <p class="mb-2"><strong> SPECIALIZED INSTITUTE OF APPLIED TECHNOLOGY NTIC2 </strong> | <small>2022 - 2023</small></p>
                      <p>I earned my Diplôme en web full stack from NTIC2, specializing in both front-end and back-end web development, in 2022-2023.</p>
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Diploma in Computer Management</h5>
                      <p class="mb-2"><strong>  PALMIER COMPUTER CENTER</strong> | <small>2020 - 2021</small></p>
                      <p>I earned my Diplôme en Gestion informatique (Diploma in Computer Management) from the PALMIER COMPUTER CENTER, 
                        where I gained comprehensive knowledge and skills in computer science and information management.</p>
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Scientific Baccalaureate, Physical Sciences option</h5>
                      <p class="mb-2"><strong> BEN M'SIK MENTION: GOOD </strong> | <small>2019 - 2020</small></p>
                      <p>I completed my Baccalauréat scientifique with a focus on sciences physiques (physical sciences), 
                        which provided me with a solid foundation in physics, chemistry, and mathematics.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <h3 class="mb-4">My Expericence</h3>
              <div class="border-left border-primary pt-2 pl-4 ml-2">
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Web Designer</h5>
                      <p class="mb-2"><strong>Oncostyle</strong> | <small>2023 - 2023</small></p>
                      <p>Création de sites web dynamiques et réactifs en wix.
                        Résolution de problèmes et débogage de code.
                        Collaborer avec le client pour comprendre ses besoins et ses
                        spécifications.</p>
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Web developer</h5>
                      <p class="mb-2"><strong>Info'G Maroc</strong> | <small>2023 - 2023</small></p>
                      <p>Création de sites web dynamiques et réactifs en React, Laravel.
                        Développement et maintenance de bases de données SQL.
                        Résolution de problèmes et débogage de code.
                        Collaborer avec le client pour comprendre ses besoins et ses
                        spécifications.</p>
                  </div>
                  
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1"> Chargée de clientèle</h5>
                      <p class="mb-2"><strong> Job d'été Pharmacie Chaoui </strong> | <small>2020 - 2020</small></p>
                      <p> Accueillir et prendre aux demandes des clients.
                        Enregistrement des produits.
                        Gestion de stock.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
